LR/lr/public/schemas/OAI/2.0/OAI-PMH-LR.xsd

<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="https://www.learningregistry.org/OAI/2.0/"
	xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:lr="https://www.learningregistry.org/OAI/2.0/"
	xmlns:oai="http://www.openarchives.org/OAI/2.0/">

	<import namespace="http://www.openarchives.org/OAI/2.0/" schemaLocation="http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"/>

	<element name="OAI-PMH" type="lr:OAI-PMHtype"/>

	<complexType name="OAI-PMHtype">
		<sequence>
			<element name="responseDate" type="dateTime"/>
			<element name="request" type="lr:requestType"/>
			<choice>
				<element maxOccurs="unbounded" name="error" type="oai:OAI-PMHerrorType"/>
				<element name="Identify" type="oai:IdentifyType"/>
				<element name="ListMetadataFormats" type="oai:ListMetadataFormatsType"/>
				<element name="ListSets" type="oai:ListSetsType"/>
				<element name="GetRecord" type="lr:GetRecordType"/>
				<element name="ListIdentifiers" type="oai:ListIdentifiersType"/>
				<element name="ListRecords" type="oai:ListRecordsType"/>
			</choice>
		</sequence>
	</complexType>

	<complexType name="requestType">
		<annotation>
		<documentation>Extending the oai:requestType to have two additional attributes</documentation></annotation>
		<simpleContent>
			<extension base="oai:requestType">
				<attribute name="by_doc_ID" type="lr:booleanType"/>
				<attribute name="by_resource_ID" type="lr:booleanType"/>
			</extension>
		</simpleContent>
	</complexType>

	<complexType name="GetRecordType">
		<annotation><documentation>Redefining oai:GetRecordType such that the record element can be unbounded</documentation></annotation>
		<sequence>
			<element maxOccurs="unbounded" name="record" type="oai:recordType"/>
			<element minOccurs="0" name="resumptionToken" type="oai:resumptionTokenType"/>
		</sequence>
	</complexType>

	<simpleType name="booleanType">
		<restriction  base="string">
			<pattern value="[tTfF]|true|false|TRUE|FALSE|True|False"/>
		</restriction>
	</simpleType>
</schema>
